* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
    transition: all .2s;
}
a:hover{
    color: #ff6b00;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    pointer-events: none;
}

.btn {
    width: 145px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 35px;
    color: #ff6b00;
    cursor: pointer;
    z-index: 0;
    position: relative;
    transition: .4s;
    overflow: hidden;
}

.btn:hover {
    color: #fff;
}

.btn::before {
    position: absolute;
    content: '';
    transition: .4s;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #ff6b00;
}

.btn:hover::before {
    width: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.lt, .rt{
    width: 50%;
}
.rt{
    padding-left: 20px;
}
.container {
    width: 1170px;
    margin: auto;
}

section {
    width: 100%;
    overflow: hidden;
}
.top-head .main {
    justify-content: space-between;
    align-items: center;
}
.top-head .num-mail {
    padding: 10px 0;
}
.top-head .num-mail a{
    margin-right: 15px;
}
.top-head .num-mail a i{
    color: #1f73bc;
    transition: all .4s;
}
.top-head .num-mail a:hover i{
    color: #ff6b00;
}
.top-head .sc-icon a{
    margin-left: 7px;
}
.top-head .sc-icon a i{
    font-size: 24px;
}
a i.fa-facebook-square{
    color: #1877F2;
}
a i.fa-instagram{
    color: #F14C41;
}
a i.fa-google-plus-square{
    color: #C5221E;
}
a i.fa-facebook-square:hover,
a i.fa-instagram:hover,
a i.fa-google-plus-square:hover{
    color: #ff6b00;
}
/* header.fixed {
    background-color: #242424cc;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 11;
}

header.fixed .logo {
    width: 140px;
}

header.fixed nav ul {
    padding-top: 14px;
} */

header {
    width: 100%;
    height: 75px;
    padding: 7px 0;
    background: #1f73bc;
    position: sticky;
    top: 0;
    transition: 1s;
    z-index: 999;
}

header .logo {
    width: 200px;
    transition: 1s;
    float: left;
}
header .logo a{
    font-size: 3rem;
    color: #fff;
    font-family: fantasy;
}

header nav {
    float: right;
}

.hamburger {
    display: none;
    margin-top: 20px;
}
.hamburger div {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 20px;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger.toggle .line1{
    transform: translateY(8px) rotate(-45deg);
}
.hamburger.toggle .line2{
    opacity: 0;
}
.hamburger.toggle .line3{
    transform: translateY(-8px) rotate(45deg);
}

header nav ul {
    padding-top: 17px;
    transition: all .4s;
}

header nav ul li {
    display: inline-block;
    padding: 5px;    
    margin-left: 10px;
    position: relative;
}
header nav ul li:hover ul.drpdwn {
    opacity: 1;
    visibility: visible;
}
header nav ul li ul.drpdwn{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    background: #1f73bc;
    width: 165px;
}
header nav ul li ul.drpdwn li a{
    line-height: 30px;
}

header nav ul li a {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all .2s;
}

header nav ul li a:hover {
    color: #ff6b00;
}

header nav ul li a.active {
    color: #ff6b00;
}
/* .head-space {
    height: 75px;
} */
.banner-sec {
    margin-bottom: -4px;
}
/* .banner-sec .mySwiper{
    height: calc(100vh - 0px);
} */

.banner-sec img.mob {
    display: none;
}
.banner-sec .swiper-slide .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    transform: translateX(-25%);
}
.banner-sec .swiper-slide .banner-content h2{
    font-size: 44px;
    color: #fff;
}
.banner-sec .swiper-slide .banner-content p{
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
}
.banner-sec .swiper-slide .banner-content .btn{
    display: block;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
}

.banner-sec .swiper-button-prev,
.banner-sec .swiper-button-next {
    width: 40px;
    height: 40px;
    background: #1f73bca6;
    border-radius: 50%;
    /* border: 1px solid #1f73bc; */
}
.banner-sec .swiper-button-prev:hover,
.banner-sec .swiper-button-next:hover {
    background: #ff6b00;
}
.banner-sec .swiper-button-prev:after,
.banner-sec .swiper-button-next:after {
    font-size: 20px;
    color: #fff;
}

.popular-sec{
    padding: 50px 0;
}
.popular-sec .lt figure{
    width: 350px;
    margin: auto;
}
.popular-sec .rt h2{
    margin-bottom: 20px;
    font-size: 38px;
}
.popular-sec .rt p{
    font-size: 18px;
}
.popular-sec .rt .in-des{
    background-color: #f4f5f9;
    color: #000;
    margin: 10px 0;
    padding: 22px;
    position: relative;
}
.popular-sec .rt .in-des::before{
    position: absolute;
    content: "\f10e";
    font-family: 'FontAwesome';
    right: 15px;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #0000005e;
}
.popular-sec .rt .in-des p{
    font: 20px;
}
.popular-sec .rt .butn .btn{
    display: block;
    background-color: #ff6b00;
    border-color: #ff6b00;
    color: #fff;
    text-align: center;
    line-height: 38px;
}
.popular-sec .rt .butn .btn:hover{
    color: #ff6b00
}
.popular-sec .rt .butn .btn::before{
    background-color: #fff;
}

.repair-sec{
    padding: 50px 0;
}
.repair-sec .head{
    text-align: center;
    color: #1b2a49;
}
.repair-sec .head h2{
    font-size: 40px;
    line-height: 42px;
}
.repair-sec .head .rep{
    display: block;
}
.repair-sec .head .rep .colr{
    color: #ff6b00;
}
.repair-sec .main{
    margin-top: 12px;
}
.repair-sec .main li{
    width: 31.33%;
    margin: 1%;
    padding: 1%;
}
.repair-sec .main li figure{
    margin-bottom: -4px;
}
.repair-sec .main li figure img{
    height: 300px;
    object-fit: cover;
}
.repair-sec .main li .content {
    padding: 15px;
    border: 1px solid #ccc;
}
.repair-sec .main li .content .small-icon{
    width: 40px;
    height: 50px;
    margin-top: -58px;
    margin-bottom: 30px;
    display: grid;
    place-content: center;
    border-bottom: 3px solid #ff6b00;
}
.repair-sec .main li .content .small-icon i{
    font-size: 20px;
    padding: 10px;
    background: #fff;
}
.repair-sec .main li .content p{
    margin: 12px 0;
}
.repair-sec .main li .content .btn{
    display: block;
    background-color: #ff6b00;
    border-color: #ff6b00;
    color: #fff;
    text-align: center;
    line-height: 38px;
    position: absolute;
}
.repair-sec .main li .content .btn:hover{
    color: #ff6b00
}
.repair-sec .main li .content .btn::before{
    background-color: #fff;
}

.empower-sec{
    padding: 50px 0;
}
.empower-sec .rt h2{
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 20px;
}
.empower-sec .rt p{
    font-size: 18px;
    line-height: 22px;
}
.empower-sec .rt .inn-main{
    margin-top: 30px;
}
.empower-sec .rt .inn-main img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.empower-sec .rt .inn-main .main-lt{
    width: 15%;
}
.empower-sec .rt .inn-main .main-rt{
    width: 85%;
}
.empower-sec .rt .inn-main .main-rt h2{
    margin-bottom: 10px;
    line-height: normal;
    font-size: 28px;
}
.empower-sec .rt .inn-main .main-rt p{
    line-height: normal;
    font-size: 16px;
}

.testimonial-sec{
    background-color: #1c294b;
}
.testimonial-sec .rt{
    padding: 50px 0;
    padding-left: 20px;
}
.testimonial-sec .rt h2{
    color: #fff;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 20px;
}
.testimonial-sec .rt p{
    font-size: 18px;
    color: #fff;
}
.testimonial-sec .rt .test-log{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.testimonial-sec .rt .test-log img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.testimonial-sec .rt .test-log h3{
    color: #fff;
    margin-bottom: 5px;
}

.consult-sec{
    padding: 50px 0;
}
.consult-sec .rt h2{
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 42px;
}
.consult-sec .rt form .inp{
    margin-bottom: 7px;
}
.consult-sec .rt form .inp input{
    width: 450px;
    height: 40px;
    outline: 0;
    font-size: 16px;
    padding: 12px;
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
}
.consult-sec .rt form .inp textarea{
    width: 450px;
    font-size: 16px;
    outline: 0;
    padding: 12px;
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
}
.consult-sec .rt form .inp textarea::placeholder{
    font-family: "";
}
.consult-sec .rt form .inp input:focus-visible,
.consult-sec .rt form .inp textarea:focus-visible{
    border: 1px solid #000;
}
.consult-sec .rt form .btn{
    /* border-radius: 0; */
    background-color: #ff6b00;
    border: 1px solid transparent;
    color: #fff;
}
.consult-sec .rt form .btn:hover{
    color: #ff6b00;
}
.consult-sec .rt form .btn::before{
    background-color: #fff;
    border: 1px solid #ff6b00;
}

.upfoot{
    max-width: 800px;
    margin: auto;
    padding: 35px;
    background-color: #ff6b00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.upfoot p{
    font-size: 34px;
}
.upfoot .btn{
    text-align: center;
    line-height: 38px;
    color: #fff;
    background-color: #162648;
    border-color: transparent;
}

footer{
    padding: 50px 0;
    padding-bottom: 20px;
    background-color: #1d202f;
}
footer .ft-col{
    width: 23%;
    margin: 1%;
    padding: 1%;
}
footer .ft-col .ft-head{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
footer .ft-col .ft-head::before{
    position: absolute;
    content: '';
    width: 10%;
    height: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}
footer .ft-col .addr{
    display: flex;
}
footer .ft-col .addr span{
    margin-right: 4px;
}
footer .ft-col .ft-head h2{
    color: #fff;
}
footer .ft-col .serv{
    display: block;
    color: #fff;
    margin: 10px 0;
}
footer .ft-col .serv:hover{
    color: #ff6b00;
}
footer .ft-col p{
    color: #fff;
}
footer .ft-col p.anchor {
    margin: 15px 0;
}
footer .ft-col p.anchor a{
    color: #fff;
}
footer .ft-col form .inp{
    margin: 10px 0;
}
footer .ft-col form .inp input[type="text"]{
    padding: 10px;
    outline: 0;
    width: 70%;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    border-left: 4px solid #fff;
}
footer .ft-col form .inp input[type="text"]:focus-visible{
    border: 1px solid #fff;
    border-left: 4px solid #fff;
}
footer .ft-col form .btn{
    border-radius: 0;
    width: 70%;
    background-color: #ff6b00;
    color: #fff;
}
footer .ft-col form .btn:hover{
    color: #ff6b00;
}
footer .ft-col form .btn::before{
    background-color: #fff;
}
footer .copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ababab;
}
footer .copyright .copy{
    color: #fff;
}
footer .copyright a i{
    font-size: 24px;
    margin-left: 6px;
}

@media (max-width: 767px) {
    .container{
        width: 90%;
    }
    .desk{
        display: none;
    }
    .banner-sec img.mob{
        display: block;
    }
    .lt, .rt{
        width: 100%;
    }
    .testimonial-sec .rt,
    .rt{
        padding-left: 0;
    }
    .top-head .num-mail a{
        display: block;
    }
    .top-head .num-mail a:first-child{
        margin-bottom: 6px;
    }
    header nav .hamburger{
        display: block;
    }
    header nav ul li a i{
        transform: rotate(-90deg);
    }
    header nav ul li ul.drpdwn{
        width: auto;
        top: 0;
        z-index: 1;
        left: 136px;
    }
    header nav ul{
        position: absolute;
        top: 70px;
        left: -400px;
        width: 60%;
        height: 100vh;
        background-color: #1f73bc;
    }
    header nav ul.shownav{
        left: 0;
    }
    header nav ul li{
        display: block;
        padding-left: 16px;
        line-height: 50px;
    }
    header nav ul li a{
        font-size: 20px;
    }
    .banner-sec .swiper-slide .banner-content{
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .banner-sec .swiper-slide .banner-content h2{
        font-size: 32px;
    }
    .banner-sec .swiper-slide .banner-content .btn{
        margin-left: auto;
        margin-right: auto;

    }
    .popular-sec .lt figure{
        width: auto;
    }
    .repair-sec .head{
        margin-bottom: 20px;
    }
    .repair-sec .head .rep{
        display: unset;
    }
    .repair-sec .main li{
        width: 100%;
        margin-bottom: 35px;
    }
    .repair-sec .main li figure img{
        height: auto;
    }
    .empower-sec .rt .inn-main .main-lt,
    .empower-sec .rt .inn-main .main-rt{
        width: 100%;
    }
    .consult-sec .rt form .inp input,
    .consult-sec .rt form .inp textarea{
        width: 100%;
    }
    .upfoot{
        flex-wrap: wrap;
        justify-content: center;
    }
    .upfoot p{
        margin-bottom: 8px;
    }
    footer .ft-col{
        width: 100%;
    }
    footer .copyright{
        text-align: center;
    }
    footer .copyright .copy,
    footer .copyright .icos{
        width: 100%;
    }
    footer .copyright .copy{
        margin-bottom: 10px;
    }
}